<mat-toolbar color="primary" class="toolbar-title">
    About the Heart App Project
</mat-toolbar>
<div class="container">
		<p>
			<strong>
				Authors and developers
			</strong>
		</p>
		<p>
			The research team was confirmed by:
		</p>
		<ul>
			<li><strong>Juan Sebastián Piedrahita Gonzalez.</strong> Student.</li>
			<li><strong>Juan David Cubillos Calvachi.</strong> Student.</li>
			<li><strong>Carlos Hernan Gutierrez Ardila.</strong> Student.</li>
			<li><strong>Phd. Carlos Enrique Montenegro Marín</strong> Teacher.</li>
			<li><strong>Phd. Paulo Alonso Gaona.</strong> Teacher.</li>
			<li><strong>Phd. Ruben Gonzalez Crespo.</strong> Teacher.</li>
		</ul>
		<p>
			<strong>
				Acknowledgement
			</strong>
		</p>
		<p>
			The authors gratefully acknowledge the support for this project to the GIIRA
			Research Group at the Universidad Distrital Francisco José de Caldas, Engineering
			Faculty.
		</p>
</div>