<mat-toolbar color="primary" class="toolbar-title">
    Download the Heart App Project
</mat-toolbar>
<div class="container">
		<h3>
			The Heart App
		</h3>
		<p>
			<strong>
				Requirements
			</strong>
		</p>
		<p>
			In order to use the app and perform your own analysis the patient must have:
		</p>
		<ul>
			<li>Android Device with Bluetooth 4+</li>
			<li>Heart Rate Sensor</li>
			<li>Internet Connection</li>
		</ul>
		<p>
			<strong>
				Download
			</strong>
		</p>
		<p>
			You can download the heart app by clicking <a href="assets/files/app-debug.apk" download>this link</a>.
		</p>
		<p>
			<strong>
				Perform your own Analysis
			</strong>
		</p>
		<p>
			The user must download and install 		the App, then the user must put on the heart rate sensor and launch the App, then the patient makes the app register and login, finally he selects the sensor connected in the App and the App begins to collect the data. The patient has to wear the sensor for 21 hours  while performs his normal daily activities. 
			<br>
			When the user has enough data to perform the analysis he goes to the diagnosis screen where he can execute the diagnosis generator process  and see the results of the diagnosis.
		</p>
</div>
